<div class="header">
  <h1 class="saturn"><%= I18n.t 'welcome_heading' %></h1>
  <h2 class="venus"><%= I18n.t 'request_an_individual_questionnaire' %></h2>
  <p class="mars"><%= I18n.t 'individual_questionnaire_success_line_1' %></p>
  <div class="u-mt-xs" style="margin-bottom: 20px;">
    <a id="bottom-home" class="mars" href="/"><%= I18n.t 'home' %></a>
  </div>
  <div class="lock u-mb-s u-mb-m@s">
    <div class="venus lock__text"><%= I18n.t 'confidentiality_notice' %></div>
  </div>
  <p class="mars"><%= I18n.t 'about_census' %></p>
</div>
