<div class="header">
  <h1 class="saturn"><%= I18n.t 'contact_success_heading1' %></h1>
  <h2 class="venus"><%= I18n.t 'contact_success_heading2' %></h2>
  <p class="mars"><%= I18n.t 'contact_success_paragraph1' %></p>
  <div class="u-mt-xs" style="margin-bottom: 20px;">
    <a id="bottom-home" class="mars" href="/"><%= I18n.t 'home_link' %></a>
  </div>
  <div class="lock u-mb-s u-mb-m@s">
    <div class="venus lock__text"><%= I18n.t 'confidentiality_statement' %></div>
  </div>
  <p class="mars"><%= I18n.t 'about_census' %></p>
</div>
