<% content_for :javascript do %>
<script src="/js/vendor/jquery.autotab.min.js"></script>
<script src="/js/respondenthome.js"></script>
<% end %>

<% if flash[:notice] %>
<div class="u-mt-s">
  <div class="alert alert--error">
    <div class="alert__header">
      <h1 class="alert__title venus"><%= I18n.t 'home_alert_heading1' %></h1>
    </div>
    <div class="alert__body">
      <p class="mars"><%= I18n.t 'home_alert_paragraph1' %></p>
      <ul class="list list--bare">
        <li class="list__item mars">1) <%= flash[:notice] %></li>
      </ul>
    </div>
  </div>
</div>
<% end %>

<div class="header">
  <h1 class="saturn"><%= I18n.t 'home_heading1' %></h1>
  <p class="mars"><%= I18n.t 'home_paragraph1' %></p>
  <p class="mars"><%= I18n.t 'home_paragraph2' %></p></br>
  <form action="/" class="form qa-questionnaire-form" role="form" method="post" novalidate="">
    <div class="group" id="household-and-accommodation">
      <div class="block" id="census-access-code">
        <div class="section" id="census-access-code-section">
          <div class="question" id="census-access-code-question">
            <div class="alert alert--simple alert--neutral" id="question-guidance-census-access-code-question">
              <div class="question__answers">
                <div class="question__answer">
                  <div class="answer answer--integer " id="census-access-code-answer">
                    <div class="answer__fields js-fields">
                      <fieldset class="fieldgroup fieldgroup--date">
                        <legend class="fieldgroup__title venus"><%= I18n.t 'home_iac_legend' %></legend>
                        <div class="fieldgroup__fields">
                          <div class="field field--input field--code">
                            <label class="label mercury u-vh" for="iac1"><%= I18n.t 'home_iac_segment1' %></label>
                            <input pattern="^[a-zA-Z0-9]{4}$" maxlength="4" data-qa="input-text" id="iac1" name="iac1" class="input input--text" value="" type="text" autocomplete="off">
                          </div>
                          <div class="field field--select field--code">
                            <label class="label mercury u-vh" for="iac2"><%= I18n.t 'home_iac_segment2' %></label>
                            <input pattern="^[a-zA-Z0-9]{4}$" maxlength="4" data-qa="input-text" id="iac2" name="iac2" class="input input--text" value="" type="text" autocomplete="off">
                          </div>
                          <div class="field field--input field--code">
                            <label class="label mercury u-vh" for="iac3"><%= I18n.t 'home_iac_segment3' %></label>
                            <input pattern="^[a-zA-Z0-9]{4}$" maxlength="4" data-qa="input-text" id="iac3" name="iac3" class="input input--text" value="" type="text" autocomplete="off">
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
              <br/>
              <span class="mars"><%= I18n.t 'home_iac_instructions' %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn--lg qa-btn-get-started" type="submit" name="action[save_continue]"><%= I18n.t 'home_start_button' %></button>
  </form>
  <div class="lock u-mb-s u-mb-m@s">
    <div class="venus lock__text"><%= I18n.t 'confidentiality_statement' %></div>
  </div>
  <p class="mars"><%= I18n.t 'about_census' %></p>
</div>
