<!doctype html>
<!--[if lt IE 7]>      <html lang="<%= I18n.t 'lang' %>" dir="ltr" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="<%= I18n.t 'lang' %>" dir="ltr" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="<%= I18n.t 'lang' %>" dir="ltr" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="<%= I18n.t 'lang' %>" dir="ltr" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%=h title %> - <%= I18n.t 'app_name' %></title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
      <script src="/js/vendor/html5shiv.min.js"></script>
    <![endif]-->
    <!--[if lte IE 9]>
      <script src="/js/polyfills.js"></script>
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <script>document.documentElement.className = document.documentElement.className.replace('no-js','has-js')</script>
    <!--<![endif]-->
    <!--[if (gt IE 9) | (IEMobile)]><!-->
    <link href="/css/default/responsive.css" rel="stylesheet">
    <!--<![endif]-->
    <!--[if (lte IE 9) & (!IEMobile)]>
    <link href="/css/default/fixed.css" rel="stylesheet">
    <![endif]-->
    <link href="/css/default/badges.css" rel="stylesheet">
  </head>
  <body>
    <div class="bar" role="banner">
      <div class="skip">
        <a class="skip__link" href="#main"><%= I18n.t 'skip_to_content' %></a>
      </div>
      <div class="bar__inner container">
        <div class="badge badge--amber u-mr-xs"><%= I18n.t 'alpha' %></div>
        <div class="bar__title"><%= I18n.t 'app_name' %></div>
      <% unless environment == 'production' %>
        <div id="badges">
          <img src="https://img.shields.io/badge/built-<%=h built %>-blue.svg" alt=""> <img src="https://img.shields.io/badge/environment-<%=h environment %>-red.svg" alt=""> <img src="https://img.shields.io/badge/commit-<%=h commit %>-orange.svg" alt="">
        </div>
      <% end %>
      </div>
    </div>

    <div class="container">
      <div class="panel">
        <div class="panel__header survey-header u-cf">
          <div class="logo survey-header__logo">
            <img src="/img/logo.svg" alt="<%= I18n.t 'ons' %>" class="logo__img">
          </div>
          <div class="info survey-header__info" role="contentinfo">
            <h2 class="info__title"><%= I18n.t 'survey_help' %></h2>
            <div class="info__tel">
              0300 1234 931
            </div>
          </div>
        </div>
        <div role="main" class="panel__body" id="main">
          <div class="header">
            <h1 class="header__title"><%=h title %></h1>
            <div class="box">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery 1 -->
  	<!--[if lt IE 9]>
  	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  	<script>window.jQuery || document.write('<script "/js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
  	<![endif]-->
  	<!-- jQuery 2 -->
  	<!--[if gte IE 9]><!-->
  	<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
  	<script>window.jQuery || document.write('<script "/js/vendor/jquery-2.2.0.min.js><\/script>')</script>
  	<!--<![endif]-->

    <!--[if gte IE 9]><!-->
    <script src="/js/bundle.js"></script>
    <!--<![endif]-->
  </body>
</html>
