<!doctype html>
<!--[if lt IE 7]>      <html lang="<%= I18n.t 'lang' %>" dir="ltr" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="<%= I18n.t 'lang' %>" dir="ltr" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="<%= I18n.t 'lang' %>" dir="ltr" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="<%= I18n.t 'lang' %>" dir="ltr" class="no-js"> <!--<![endif]-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= I18n.t 'title' %></title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="shortcut icon" href="favicon.ico">
  <!--[if lt IE 9]>
    <script src="/js/vendor/html5shiv.min.js?q=95ed16e2c89bb26d9c02129271468664828e4cee"></script>
  <![endif]-->
  <!--[if lte IE 9]>
    <script src="/js/polyfills.js?q=95ed16e2c89bb26d9c02129271468664828e4cee"></script>
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <script>document.documentElement.className = document.documentElement.className.replace('no-js','has-js')</script>
  <!--<![endif]-->
  <!--[if (gt IE 9) | (IEMobile)]><!-->
    <link href="/css/responsive.css" rel="stylesheet">
  <!--<![endif]-->
  <!--[if (lte IE 9) & (!IEMobile)]>
    <link href="/css/fixed.css?q=95ed16e2c89bb26d9c02129271468664828e4cee" rel="stylesheet">
  <![endif]-->
    <link href="/css/respondent.css" rel="stylesheet">
  </head>
  <body class="page">
    <div class="page__content">
      <div class="skip">
        <a class="skip__link" href="#main"><%= I18n.t 'skip_to_content' %></a>
      </div>
      <div class="page-header page-header--census">
        <div class="census-header__cookie">
          <div class="container">
            <p class="pluto"><%= I18n.t 'cookie_notice' %></p>
          </div>
        </div>
        <div class="page-header__help is-closed js-help-body">
          <div class="page-header__container container">
            <div class="page-header__title"><%= I18n.t 'help_and_support' %></div>
              <ul class="page-header__nav nav nav--horizontal">
                <li class="nav__item">
                  <span class="mars" role="presentation"><%= I18n.t 'call' %> </span> <a class="venus nav__link" href="tel:0800123456789"><span class="u-vh"><%= I18n.t 'for_help_call' %> </span><%= I18n.t 'help_telephone_number' %></a>
                </li>
                <li class="nav__item">
                  <a class="venus nav__link external" href="#" rel="ext"></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="page-header__container container">
            <div class="page-header__crest">
              <img src="/img/crest.svg" alt="Crown">
            </div>
            <div class="page-header__logo">
              <img src="/img/logo-english-reversed.svg" alt="2017 Census">
            </div>
            <button class="page-header__btn btn btn--light btn--border js-help-btn">
              <%= I18n.t 'help_and_support_button' %>
            </button>
          </div>
        </div>
        <div role="main" class="panel__body" id="main">
          <div class="container">
            <div class="grid">
              <div class="grid__col col-8@m">
                <div class="header">
                  <h1 class="saturn"><%= I18n.t 'welcome_heading' %></h1>
                  <p class="mars"><%= I18n.t 'welcome_line_1' %></p>
                  <p class="mars"><%= I18n.t 'welcome_line_2' %></p></br>
                  <form action="/" class="form qa-questionnaire-form" role="form" method="post" novalidate="">
                    <div class="group" id="household-and-accommodation">
                      <div class="block" id="census-access-code">
                        <div class="section" id="census-access-code-section">
                          <div class="question" id="census-access-code-question">
                            <div class="alert alert--simple alert--neutral" id="question-guidance-census-access-code-question">
                              <div class="question__answers">
                                <div class="question__answer">
                                  <div class="answer answer--integer " id="census-access-code-answer">
                                    <div class="answer__fields js-fields">
                                      <fieldset class="fieldgroup fieldgroup--date">
                                        <legend class="fieldgroup__title venus"><%= I18n.t 'enter_your_iac' %></legend>
                                        <div class="fieldgroup__fields">
                                          <div class="field field--input field--code">
                                            <input pattern="\d*" maxlength="4" data-qa="input-text" id="iac1" name="iac1" class="input input--text " value="" type="text" autocomplete="off" autofocus>
                                            <label class="label mercury u-vh" for="iac1"><%= I18n.t 'iac_segment_1' %></label>
                                          </div>
                                          <div class="field field--select field--code">
                                            <label class="label mercury u-vh" for="iac2"><%= I18n.t 'iac_segment_2' %></label>
                                            <input pattern="\d*" maxlength="4" data-qa="input-text" id="iac2" name="iac2" class="input input--text " value="" type="text" autocomplete="off">
                                          </div>
                                          <div class="field field--input field--code">
                                            <label class="label mercury u-vh" for="iac3"><%= I18n.t 'iac_segment_3' %></label>
                                            <input pattern="\d*" maxlength="4" data-qa="input-text" id="iac3" name="iac3" class="input input--text " value="" type="text" autocomplete="off">
                                          </div>
                                        </div>
                                      </fieldset>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <br/>
                              <span class="mars"><%= I18n.t 'iac_instructions' %></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn--lg qa-btn-get-started" type="submit" name="action[save_continue]"><%= I18n.t 'start_button' %></button>
                  </form>
                  <div class="lock u-mb-s u-mb-m@s">
                    <div class="venus lock__text"><%= I18n.t 'confidentiality_notice' %></div>
                  </div>
                  <p class="mars"><%= I18n.t 'about_census' %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer footer--census" id="footer" role="contentinfo">
        <div class="container footer__container">
          <a class="footer__logo" href="https://www.ons.gov.uk/">
            <img src="/img/ons-logo.svg" alt="<%= I18n.t 'ons' %>" class="">
          </a>
          <ul class="footer__nav nav nav--horizontal">
            <li class="nav__item">
              <a class="nav__link" rel="ext" href="https://www.ons.gov.uk/help/cookiesandprivacy"><%= I18n.t 'privacy' %></a>
            </li>
            <li class="nav__item">
              <a class="nav__link" rel="ext" href="#"><%= I18n.t 'copyright' %></a>
            </li>
            <li class="nav__item">
              <a class="nav__link" rel="ext" href="https://www.ons.gov.uk/help/termsandconditions"><%= I18n.t 'terms_and_conditions' %></a>
            </li>
            <li class="nav__item">
              <a class="nav__link" rel="ext" href="https://www.ons.gov.uk/help/accessibility"><%= I18n.t 'accessibility_statement' %></a>
            </li>
          </ul>
        </div>
        <div class="footer__help">
          <div class="container">
            <div class="mars"><%= I18n.t 'help_and_support' %>
              <ul class="footer__helpnav nav nav--horizontal">
                <li class="nav__item">
                  <span class="mars" role="presentation"><%= I18n.t 'call' %> </span> <a class="venus nav__link" href="tel:0800123456789"><span class="u-vh"><%= I18n.t 'for_help_call' %> </span>0800 123 456789</a>
                </li>
                <li class="nav__item">
                  <a class="venus nav__link external" href="#" rel="ext"><%= I18n.t 'online_help' %></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <!-- jQuery 1 -->
  	<!--[if lt IE 9]>
  	  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  	  <script>window.jQuery || document.write('<script "/js/vendor/jquery-1.12.0.min.js?q=95ed16e2c89bb26d9c02129271468664828e4cee"><\/script>')</script>
  	<![endif]-->
  	<!-- jQuery 2 -->
  	<!--[if gte IE 9]><!-->
  	  <script src="/js/vendor/jquery-2.2.0.min.js"></script>
  	  <script>window.jQuery || document.write('<script "/js/vendor/jquery-2.2.0.min.js?q=95ed16e2c89bb26d9c02129271468664828e4cee"><\/script>')</script>
  	<!--<![endif]-->
    <!--[if gte IE 9]><!-->
      <script src="/js/bundle.js"></script>
  	<!--<![endif]-->
    <script src="/js/vendor/jquery.autotab.min.js"></script>
    <script src="/js/respondenthome.js"></script>
  </body>
</html>
