<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%=h title %> - Response Operations</title>
    <link rel="stylesheet" href="/css/reset.css" media="all" type="text/css">
    <link rel="stylesheet" href="/css/fonts.css" media="all" type="text/css">
    <link rel="stylesheet" href="/css/grids.css" media="all" type="text/css">
    <link rel="stylesheet" href="/css/screen.css" media="screen" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <%= yield_content :javascript %>
  </head>
  <body>
    <div id="doc" class="yui-t7">
      <div id="hd">
        <img id="onslogo" src="/images/onslogo.gif" alt="ONS logo">
        <h2><span class="heavy">Response</span>Operations</h2>
        <h1><%=h title %></h1>
      <% if content_for? :sub_heading %>
        <p class="subhead">
          <%= yield_content :sub_heading %>
        </p>
      <% end %>
      </div>
      <div id="bd">
        <div id="yui-main">
          <div class="yui-b">
            <% [:error, :notice].each do |key| %>
        <% if flash[key] %>
            <p class="message"><%= flash[key] %></p>
          <% end %>
        <% end %>
            <%= yield %>
          </div> <!-- .yui-b -->
        </div> <!-- #yui-main -->
      </div> <!-- #bd -->
    </div> <!-- #doc.yui-t7 -->
  </body>
</html>
